
###> symfony/framework-bundle ###
.env
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/*
/vendor/
nbproject/
.idea/
.project
config/parameters.yaml

###> docker ###
docker/.env
docker/data/*

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
.docker
